<p id="notice"><%= notice %></p>

<p>
  <strong>Server location:</strong>
  <%= @multimedium.server_location %>
</p>

<%= link_to 'Edit', edit_multimedium_path(@multimedium) %> |
<%= link_to 'Back', multimedia_path %>
