<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @product_region.product_region %>
</p>

<%= link_to 'Edit', edit_price_path(@product_region) %> |
<%= link_to 'Back', prices_path %>
